<!DOCTYPE html>
<html lang="en">
<%- include('./components/header'); -%>
    <body>
        <!-- Site wrapper -->
        <div class="wrapper">
            <%- include('./components/navbar'); -%>
                <%- include('./components/sidebar'); -%>
                    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="padding: 25px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Add Startup</h1>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </section>
  
        <!-- Main content -->
        <section class="content">
  
              <div class="card">
                      <!-- /.card-header -->
                      <div class="card-body">
                        <form role="form" id="addForm">
  
                          <!-- text input -->
                          <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Enter Name ...">
                          </div>
  
                          <!-- select -->
                          <div class="form-group">
                            <label>Select Sector</label>
                            <select class="form-control">
                              <option>Sector 1</option>
                              <option>Sector 2</option>
                              <option>Sector 3</option>
                              <option>Sector 4</option>
                              <option>Sector 5</option>
                            </select>
                          </div>
        
                          <!-- textarea -->
                          <div class="form-group">
                            <label>Textarea</label>
                            <textarea class="form-control" rows="4" placeholder="Enter Description..."></textarea>
                          </div>
  
                          <!-- select -->
                          <div class="form-group">
                                  <label>Select Location</label>
                                  <select class="form-control">
                                    <option>Location 1</option>
                                    <option>Location 2</option>
                                    <option>Location 3</option>
                                    <option>Location 4</option>
                                    <option>Location 5</option>
                                  </select>
                                </div>
  
                                <!-- checkbox -->
                          <div class="form-group">
                                  <label>Select DO</label>
                                  <div class="row">
                                  <div class="col-md-3">
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="option1">
                                    <label class="form-check-label">DO 1</label>
                                  </div>
                              </div>
                                  <div class="col-md-3">
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="option1">
                                    <label class="form-check-label">DO 2</label>
                                  </div>
                              </div>
                                  <div class="col-md-3">
                                  <div class="form-check">
                                          <input class="form-check-input" type="checkbox" value="option1">
                                          <label class="form-check-label">DO 3</label>
                                        </div>
                                      </div>
                                        <div class="col-md-3">
                                        <div class="form-check">
                                          <input class="form-check-input" type="checkbox" value="option1">
                                          <label class="form-check-label">DO 4</label>
                                        </div>
                                      </div>
                                  </div>
                                </div>
        
                        </form>
                      </div>
                      <!-- /.card-body -->
                      <div class="card-footer">
                              <button type="submit" class="btn btn-info float-right">Save</button>
                              <button type="submit" class="btn btn-default" onclick="document.getElementById('addForm').reset();">Clear</button>
                            </div>
                    </div>
  
  
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
                    <%- include('./components/footer'); -%>
        <%- include('./components/right-sidebar'); -%>
        </div>
        <!-- ./wrapper -->
        <%- include('./components/scripts'); -%>
    </body>

</html>