<!DOCTYPE html>
<html lang="en">
<%- include('./components/header'); -%>

    <body>
        <!-- Site wrapper -->
        <div class="wrapper">
            <%- include('./components/navbar'); -%>
                <%- include('./components/sidebar'); -%>
                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper" style="padding: 25px;">
                        <!-- Content Header (Page header) -->
                        <div class="message-box">

                        </div>
                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <h1>Add Startup</h1>
                                    </div>
                                </div>
                            </div>
                            <!-- /.container-fluid -->
                        </section>

                        <!-- Main content -->
                        <section class="content">

                            <div class="card">
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <form role="form" id="addForm">

                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" id="name" class="form-control" placeholder="Enter Name ...">
                                        </div>

                                        <!-- select -->
                                        <div class="form-group">
                                            <label>Select Sector</label>
                                            <select class="form-control" id="sector">
                                                <option value="1">Sector 1</option>
                                                <option value="2">Sector 2</option>
                                                <option value="3">Sector 3</option>
                                                <option value="4">Sector 4</option>
                                                <option value="5">Sector 5</option>
                                            </select>
                                        </div>

                                        <!-- textarea -->
                                        <div class="form-group">
                                            <label>Textarea</label>
                                            <textarea id="description" class="form-control" rows="4" placeholder="Enter Description..."></textarea>
                                        </div>

                                        <!-- select -->
                                        <div class="form-group">
                                            <label>Select Location</label>
                                            <select class="form-control" id="location">
                                                <option value="218">Location 1</option>
                                                <option value="220">Location 2</option>
                                                <option value="123">Location 3</option>
                                                <option value="422">Location 4</option>
                                                <option value="522">Location 5</option>
                                            </select>
                                        </div>

                                        <!-- checkbox -->
                                        <div class="form-group">
                                            <label>Select DO</label>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-check">
                                                        <input class="form-check-input" id="group1" type="checkbox" value="1">
                                                        <label class="form-check-label">DO 1</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-check">
                                                        <input class="form-check-input" id="group2" type="checkbox" value="2">
                                                        <label class="form-check-label">DO 2</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-check">
                                                        <input class="form-check-input" id="group3" type="checkbox" value="3">
                                                        <label class="form-check-label">DO 3</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-check">
                                                        <input class="form-check-input" id="group4" type="checkbox" value="4">
                                                        <label class="form-check-label">DO 4</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" onclick="addStartup()" class="btn btn-info float-right">Save</button>
                                    <button type="submit" class="btn btn-default" onclick="document.getElementById('addForm').reset();">Clear</button>
                                </div>
                            </div>


                        </section>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrapper -->
                    <%- include('./components/footer'); -%>
                        <%- include('./components/right-sidebar'); -%>
        </div>
        <!-- ./wrapper -->
        <%- include('./components/scripts'); -%>
            <script>
                function addStartup() {
                    var startupData = {
                        "startup": {
                            "title": $("#name").val(),
                            "description": $("#description").val(),
                            "sectorId": parseInt($("#sector").val()),
                            "countryId": parseInt($("#location").val())
                        },
                        "assets": [],
                        "tags": [],
                        "groups": [{
                                "groupId": parseInt($("#group1").val())
                            },
                            {
                                "groupId": parseInt($("#group2").val())
                            }
                        ]
                    }
                    $.ajax({
                        type: 'POST',
                        dataType: "json",
                        data: JSON.stringify(startupData),
                        contentType: 'application/json; charset=utf-8',
                        url: '/controller/addStartup',
                        success: function (data) {
                            console.log(data);
                            document.getElementById('addForm').reset();
                            $(".message-box").toggle();
                            $(".message-box").html(
                                '<div class="alert alert-success alert-dismissible" style="display:block; margin: 10px;"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h5><i class="icon fa fa-ban"></i> Success!</h5>Startup succesfully added!</div>'
                            );
                            $(".message-box").toggle(1500);
                        },
                        error: function (data) {
                            console.log(data);
                            $(".message-box").toggle();
                            $(".message-box").html(
                                '<div class="alert alert-warning alert-dismissible" style="display:block; margin: 10px;"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h5><i class="icon fa fa-ban"></i> Warning!</h5>Startup could not be added! Please check!</div>'
                            );
                            $(".message-box").toggle(1500);
                        }
                    });
                }
            </script>
    </body>

</html>