<!DOCTYPE html>
<html lang="en">
<%- include('./components/header'); -%>

    <body>
        <!-- Site wrapper -->
        <div class="wrapper">
            <%- include('./components/navbar'); -%>
                <%- include('./components/sidebar'); -%>
                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper" style="padding: 25px;">
                        <!-- Content Header (Page header) -->
                        <div class="message-box-success" style="display: none">
                                <div class="alert alert-success alert-dismissible" style="display:block; margin: 10px;">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    Startup succesfully added!</div>
                            </div>
                            <div class="message-box-danger" style="display: none">
                                <div class="alert alert-danger alert-dismissible" style="display:block; margin: 10px;">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    Startup could not be added! Please check!</div>
                            </div>
                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <h1>Add Startup</h1>
                                    </div>
                                </div>
                            </div>
                            <!-- /.container-fluid -->
                        </section>

                        <!-- Main content -->
                        <section class="content">

                            <div class="card">
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <form role="form" id="addForm">

                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Name</label>
                                            <div class="input-group">
                                            <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                                  </div>
                                            <input type="text" id="name" class="form-control" placeholder="Enter Name ...">
                                        </div>
                                        </div>
                                        
                                        <div class="form-group">
                                                <label>E-Mail Address</label>
                              
                                                <div class="input-group">
                                                  <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-at"></i></span>
                                                  </div>
                                                  <input type="text" class="form-control" placeholder="Enter E-Mail Address...">
                                                </div>
                                                
                                                <!-- /.input group -->
                                              </div>

                                        <div class="form-group">
                                                <label>Phone Number</label>
                              
                                                <div class="input-group">
                                                  <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-phone"></i></span>
                                                  </div>
                                                  <input type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="">
                                                </div>
                                                
                                                <!-- /.input group -->
                                              </div>

                                               <!-- text input -->
                                        <div class="form-group">
                                                <label>Other Contact Info</label>
                                                <div class="input-group">
                                                <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-globe"></i></span>
                                                      </div>
                                                <input type="text" id="name" class="form-control" placeholder="Enter Link...">
                                            </div>
                                            </div>

                                              <!-- textarea -->
                                        <div class="form-group">
                                                <label>Description</label>
                                                <div class="input-group">
                                                <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-align-left"></i></span>
                                                      </div>
                                                <textarea id="description" class="form-control" rows="4" placeholder="Enter Description..."></textarea>
                                            </div>
                                            </div>

                                        <!-- select -->
                                        <div class="form-group">
                                            <label>Select Sector</label>
                                            <div class="input-group">
                                            <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-briefcase"></i></span>
                                                  </div>
                                            <select class="form-control" id="sector">
                                                    <% for(var j=0; j<allSectors.length; j++) {%>
                                                <option value="<%= allSectors[j].id %>"><%= allSectors[j].name %></option>
                                                <% } %>
                                            </select>
                                        </div>
                                        </div>

                                        

                                        <!-- select -->
                                        <div class="form-group">
                                            <label>Select Location</label>
                                            <div class="input-group">
                                                    <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                                                          </div>
                                            <select class="form-control" id="location">
                                                    <% for(var j=0; j<allCountries.length; j++) {%>
                                                            <option value="<%= allCountries[j].id %>"><%= allCountries[j].nicename %></option>
                                                            <% } %>
                                            </select>
                                            </div>
                                        </div>

                                        <!-- checkbox -->
                                        <div class="form-group">
                                            <label>Select DO</label>
                                            <div class="row">
                                                <% for(var j=0; j<allGroups.length; j++) {%>
                                                            
                                                <div class="col-md-3">
                                                    <div class="form-check">
                                                        <input class="form-check-input" id="group<%= allGroups[j].id %>" type="checkbox" value="<%= allGroups[j].id %>">
                                                        <label class="form-check-label"><%= allGroups[j].name %></label>
                                                    </div>
                                                </div>
                                                <% } %>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                                <label>Interview Date</label>
                              
                                                <div class="input-group">
                                                  <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                                  </div>
                                                  <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="">
                                                </div>
                                                <!-- /.input group -->
                                              </div>

                                    </form>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" onclick="addStartup()" class="btn btn-info float-right">Save</button>
                                    <button type="submit" class="btn btn-default" onclick="document.getElementById('addForm').reset();">Clear</button>
                                </div>
                            </div>


                        </section>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrapper -->
                    <%- include('./components/footer'); -%>
                        <%- include('./components/right-sidebar'); -%>
        </div>
        <!-- ./wrapper -->
        <%- include('./components/scripts'); -%>
            <script>
                function addStartup() {
                    var startupData = {
                        "startup": {
                            "title": $("#name").val(),
                            "description": $("#description").val(),
                            "sectorId": parseInt($("#sector").val()),
                            "countryId": parseInt($("#location").val())
                        },
                        "assets": [],
                        "tags": [],
                        "groups": [{
                                "groupId": parseInt($("#group1").val())
                            },
                            {
                                "groupId": parseInt($("#group2").val())
                            }
                        ]
                    }
                    $.ajax({
                        type: 'POST',
                        dataType: "json",
                        data: JSON.stringify(startupData),
                        contentType: 'application/json; charset=utf-8',
                        url: '/controller/addStartup',
                        success: function (data) {
                            console.log(data);
                            document.getElementById('addForm').reset();
                            $(".message-box-success").toggle(750, function () {
                                setTimeout(function () {
                                    $(".message-box-success").toggle(750);
                                }, 3000);
                            });
                        },
                        error: function (data) {
                            $(".message-box-danger").toggle(750, function () {
                                setTimeout(function () {
                                    $(".message-box-danger").toggle(750);
                                }, 2500);
                            });
                        }
                    });
                }
            </script>
    </body>

</html>