<!DOCTYPE html>
<html lang="en">
<%- include('./components/header'); -%>

    <body>
        <!-- Site wrapper -->
        <div class="wrapper">
            <%- include('./components/navbar'); -%>
                <%- include('./components/sidebar'); -%>
                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper" style="padding: 25px;">
                        <div class="message-box" style="display: none">
                            <div class="alert alert-danger alert-dismissible" style="display:block; margin: 10px;">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                You can not access here!</div>
                        </div>
                        <!-- Content Header (Page header) -->
                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-12 detail-header">
                                        <%if (data.consumer.id == authProfile.id) { %>
                                            <span class="detail-header-edit">
                                                <a href="../update/<%= data.startup.id %>">
                                                    <i style="font-size: 20px;" class="fas fa-edit"></i>
                                                </a>
                                            </span>
                                            <%}%>
                                                <span class="detail-header-status">
                                                    <%if (data.status.id == 1) { %>
                                                        <span class="dot"></span
                                                        <%= data.status.name  %> 345b35510957db347a3489625ec3db976f54ab4b
                                                        <%} else if (data.status.id == 3) { %>
                                                            <span class="dot" style="background-color: #dc3545"></span>
                                                            <%= data.status.name  %>
                                                                <%} else{%>
                                                                    <span class="dot" style="background-color: #ccc;"></span>
                                                                    Unknown
                                                                    <%}%>
                                                </span>
                                                <span class="detail-header-title">
                                                    <%= data.startup.title %>
                                                </span>
                                                <%if (data.startup.phoneNumber != null) { %>
                                                    <span class="detail-header-sub-title">
                                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                                        <%= data.startup.phoneNumber %>
                                                    </span>
                                                    <span style="margin-left: 7px; margin-right: 7px;">&bull;</span>
                                                    <%}%>
                                                        <span class="detail-header-sub-title">
                                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                            <%= data.country.nicename %>
                                                        </span>
                                                        <span class="detail-header-tag">
                                                            <% for(var i=0; i<data.tags.length; i++) {%>
                                                                <a href="#">
                                                                    #
                                                                    <%= data.tags[i].name %>
                                                                </a>
                                                                <% } %>

                                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- /.container-fluid -->
                        </section>
                        <!-- Main content -->
                        <section class="content">
                            <div class="card" style="box-shadow: 0 0 0px rgba(0,0,0,0);">
                                <div class="card-header p-2">
                                    <ul class="nav nav-pills">
                                        <li class="nav-item col-6 text-center">
                                            <a class="nav-link active show" href="#details" data-toggle="tab">Details</a>
                                        </li>
                                        <li class="nav-item col-6 text-center">
                                            <a class="nav-link" href="#comments" onclick="getNotes()" data-toggle="tab">Notes (
                                                <%= data.startup.startupLogCount %>)</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body" style="background-color: #f4f6fa;border-color: #f4f6fa;padding: 0px;padding-top: 10px;">
                                    <div class="tab-content">
                                        <div class="tab-pane active show" id="details">
                                            <div class="card card-default color-palette-box">
                                                <div class="card-header">
                                                    <h3 class="card-title">
                                                        <i class="fa fa-user" aria-hidden="true"></i>
                                                        Company Authority
                                                    </h3>
                                                </div>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <b>Full Name: </b>
                                                            <span>
                                                                <%= data.startup.entrepreneurFullName %>
                                                            </span>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <b>Job Title: </b>
                                                            <span>
                                                                <%= data.startup.entrepreneurJobTitle %>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /.card-body -->
                                            </div>
                                            <div class="card card-default color-palette-box">
                                                <div class="card-header">
                                                    <h3 class="card-title">
                                                        <i class="fa fa-building" aria-hidden="true"></i>
                                                        Company Informations
                                                    </h3>
                                                </div>
                                                <div class="card-body firm-info">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <b>Description: </b>
                                                            <span>
                                                                <%= data.startup.description %>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <b>Sector: </b>
                                                            <span>
                                                                <%= data.sector.name %>
                                                            </span>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <b>Cooperations: </b>
                                                            <span>
                                                                <%= data.startup.cooperation %>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <b>Doğuş Grubuna Uygunluk (0-10): </b>
                                                            <span>
                                                                <%= data.startup.availabilityForDogus %>
                                                            </span>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <b>Firma Kalitesi (0-10): </b>
                                                            <span>
                                                                <%= data.startup.quality %>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <b>Assets: </b>
                                                            <div class="col-sm-12 mailbox-attachments">
                                                                <% for(var i=0; i<data.assetList.length; i++) {%>
                                                                    <div>
                                                                        <%if (data.assetList[i].assetType == "pdf") { %>
                                                                            <span class="mailbox-attachment-icon">
                                                                                <i class="fa fa-file-pdf-o"></i>
                                                                            </span>
                                                                            <%} else if (data.assetList[i].assetType == "docx"){ %>
                                                                                <span class="mailbox-attachment-icon">
                                                                                    <i class="fa fa-file-word-o"></i>
                                                                                </span>
                                                                                <%} else if (data.assetList[i].assetType == "png" || data.assetList[i].assetType == "jpg"){ %>
                                                                                    <span class="mailbox-attachment-icon has-img">
                                                                                        <img class="attachment-cover" src="<%= data.assetList[i].fileUrl %>" alt="Attachment">
                                                                                    </span>
                                                                                    <% } %>
                                                                                        <div class="mailbox-attachment-info">
                                                                                            <a href="<%= data.assetList[i].fileUrl %>" class="mailbox-attachment-name">
                                                                                                <i class="fa fa-paperclip"></i>
                                                                                                <%= data.assetList[i].fileUrl.split("/")[data.assetList[i].fileUrl.split("/").length-1] %>
                                                                                            </a>
                                                                                        </div>
                                                                    </div>
                                                                    <% } %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <b>Doğuş Groups - Horizon List: </b>
                                                        </div>
                                                        <% for(var i=0; i<data.groups.length; i++) {%>
                                                            <div class="col-sm-12" style="margin-top:3px;">
                                                                <%= data.groups[i].groupName %> &#8594; Horizon
                                                                    <%= data.groups[i].horizon %>
                                                            </div>
                                                            <% } %>
                                                    </div>
                                                </div>
                                                <!-- /.card-body -->
                                            </div>
                                            <div class="card card-default color-palette-box">
                                                <div class="card-header">
                                                    <h3 class="card-title">
                                                        <i class="fa fa-diamond" aria-hidden="true"></i>
                                                        Company Hunter
                                                    </h3>
                                                </div>
                                                <div class="card-body firm-info">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <b>Full Name: </b>
                                                            <span>
                                                                <%= data.consumer.fullName %>
                                                            </span>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <b>Email: </b>
                                                            <span>
                                                                <%= data.consumer.email %>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <b>Company: </b>
                                                            <span>
                                                                <%= data.consumer.companyName %>
                                                            </span>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <b>Job Title: </b>
                                                            <span>
                                                                <%= data.consumer.jobTitle %>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /.card-body -->
                                            </div>
                                            <!-- /.post -->
                                        </div>
                                        <!-- /Detail Panel -->

                                        <!-- /.tab-pane -->
                                        <div class="tab-pane" id="comments">
                                            <span id="comment-box"></span>
                                            <div class="custom-fixed-bottom" style="position: fixed;right: 0;bottom: 0;z-index: 1030;width: 75%">
                                                <div class="card-footer">
                                                    <div class="input-group">
                                                        <input type="text" name="message" id="noteInput" placeholder="Type Note ..." class="form-control">
                                                        <span class="input-group-append">
                                                            <button type="button" onclick="createLog()" class="btn btn-success">Send</button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- /.tab-pane -->
                                    </div>
                                    <!-- /.tab-content -->
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </section>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrapper -->
                    <%- include('./components/footer'); -%>
                        <%- include('./components/right-sidebar'); -%>
                            <%- include('./components/scripts'); -%>
        </div>
        <!-- ./wrapper -->

    </body>

    <script>
        function getNotes() {
            $('.main-footer').hide();
            $.get('/controller/getStartupLogs/<%= data.startup.id %>', function (res) {
                $('#comment-box').html("");
                console.log(res);
                if (res.body != "") {
                    var notes = JSON.parse(res.body);
                    for (var i = 0; i < notes.length; i++) {
                        $('#comment-box').append('<div class="card" style="padding: 10px;">' +
                            '<div class="post clearfix">' +
                            '<div class="user-block">' +
                            '<img class="img-circle img-bordered-sm" src="' + notes[i].consumer.profileImageUrl + '" alt="User Image">' +
                            '<span class="username">' +
                            '<a href="#">' + notes[i].consumer.fullName + '</a>' +
                            '</span>' +
                            '<span class="description">' + formatDate(notes[i].startupLog.createdAt) + '</span>' +
                            '</div>' +
                            '<p>' + notes[i].startupLog.content + '</p>' +
                            '</div>' +
                            '</div>');
                    }
                }
            });
        }

        function createLog() {
            var body = {
                "content": $("#noteInput").val()
            };
            $("#noteInput").val("");
            $.ajax({
                type: 'POST',
                dataType: "json",
                data: JSON.stringify(body),
                contentType: 'application/json; charset=utf-8',
                url: '/controller/createLog/<%= data.startup.id %>',
                success: function (data) {
                    console.log(data);
                    $('#comment-box').prepend('<div class="card" style="padding: 10px;">' +
                        '<div class="post clearfix">' +
                        '<div class="user-block">' +
                        '<img class="img-circle img-bordered-sm" src="' + data.consumer.profileImageUrl + '" alt="User Image">' +
                        '<span class="username">' +
                        '<a href="#">' + data.consumer.fullName + '</a>' +
                        '</span>' +
                        '<span class="description">' + formatDate(data.startupLog.createdAt) + '</span>' +
                        '</div>' +
                        '<p>' + data.startupLog.content + '</p>' +
                        '</div>' +
                        '</div>');

                },
                error: function (data) {
                    $(".message-box").toggle(750, function () {
                        setTimeout(function () {
                            $(".message-box").toggle(750);
                        }, 2000);
                    });
                }
            });
        }

        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2) month = '0' + month;
            if (day.length < 2) day = '0' + day;

            return [day, month, year].join('-');
        }
    </script>

</html>