<!DOCTYPE html>
<html lang="en">
<%- include('./components/header'); -%>

    <body>
        <!-- Site wrapper -->
        <div class="wrapper">
            <%- include('./components/navbar'); -%>
                <%- include('./components/sidebar'); -%>
                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper" style="padding: 25px;">
                        <!-- Content Header (Page header) -->
                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <h1>Startup Detail</h1>
                                    </div>
                                </div>
                            </div>
                            <!-- /.container-fluid -->
                        </section>
                        <!-- Main content -->
                        <section class="content">
                            <div class="card" style="box-shadow: 0 0 0px rgba(0,0,0,0);">
                                <div class="card-header p-2">
                                    <ul class="nav nav-pills">
                                        <li class="nav-item col-6 text-center">
                                            <a class="nav-link active show" href="#details" data-toggle="tab">Details</a>
                                        </li>
                                        <li class="nav-item col-6 text-center">
                                            <a class="nav-link" href="#comments" onclick="$('.main-footer').hide()" data-toggle="tab">Notes (5)</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body" style="background-color: #f4f6fa;border-color: #f4f6fa;padding: 0px;padding-top: 10px;">
                                    <div class="tab-content">
                                        <div class="tab-pane active show" id="details">
                                            Detaylar
                                            <!-- /.post -->
                                        </div>
                                        <!-- /Detail Panel -->

                                        <!-- /.tab-pane -->
                                        <div class="tab-pane" id="comments">
                                            <div class="card" style="padding: 10px;">
                                                <div class="post clearfix">
                                                    <div class="user-block">
                                                        <img class="img-circle img-bordered-sm" src="https://s3.eu-west-3.amazonaws.com/invendocdn/img/user7-128x128.jpg" alt="User Image">
                                                        <span class="username">
                                                            <a href="#">Sarah Ross</a>
                                                            <a href="#" class="float-right btn-tool">
                                                                <i class="fa fa-times"></i>
                                                            </a>
                                                        </span>
                                                        <span class="description">Sent you a message - 3 days ago</span>
                                                    </div>
                                                    <!-- /.user-block -->
                                                    <p>
                                                        Lorem ipsum represents a long-held tradition for designers, typographers and the like. Some people hate it and argue for
                                                        its demise, but others ignore the hate as they create awesome tools
                                                        to help create filler text for everyone from bacon lovers to Charlie
                                                        Sheen fans.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="card" style="padding: 10px;">
                                                <div class="post clearfix">
                                                    <div class="user-block">
                                                        <img class="img-circle img-bordered-sm" src="https://s3.eu-west-3.amazonaws.com/invendocdn/img/user7-128x128.jpg" alt="User Image">
                                                        <span class="username">
                                                            <a href="#">Sarah Ross</a>
                                                            <a href="#" class="float-right btn-tool">
                                                                <i class="fa fa-times"></i>
                                                            </a>
                                                        </span>
                                                        <span class="description">Sent you a message - 3 days ago</span>
                                                    </div>
                                                    <!-- /.user-block -->
                                                    <p>
                                                        Lorem ipsum represents a long-held tradition for designers, typographers and the like. Some people hate it and argue for
                                                        its demise, but others ignore the hate as they create awesome tools
                                                        to help create filler text for everyone from bacon lovers to Charlie
                                                        Sheen fans.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="card" style="padding: 10px;">
                                                <div class="post clearfix">
                                                    <div class="user-block">
                                                        <img class="img-circle img-bordered-sm" src="https://s3.eu-west-3.amazonaws.com/invendocdn/img/user7-128x128.jpg" alt="User Image">
                                                        <span class="username">
                                                            <a href="#">Sarah Ross</a>
                                                            <a href="#" class="float-right btn-tool">
                                                                <i class="fa fa-times"></i>
                                                            </a>
                                                        </span>
                                                        <span class="description">Sent you a message - 3 days ago</span>
                                                    </div>
                                                    <!-- /.user-block -->
                                                    <p>
                                                        Lorem ipsum represents a long-held tradition for designers, typographers and the like. Some people hate it and argue for
                                                        its demise, but others ignore the hate as they create awesome tools
                                                        to help create filler text for everyone from bacon lovers to Charlie
                                                        Sheen fans.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="card" style="padding: 10px;">
                                                <div class="post clearfix">
                                                    <div class="user-block">
                                                        <img class="img-circle img-bordered-sm" src="https://s3.eu-west-3.amazonaws.com/invendocdn/img/user7-128x128.jpg" alt="User Image">
                                                        <span class="username">
                                                            <a href="#">Sarah Ross</a>
                                                            <a href="#" class="float-right btn-tool">
                                                                <i class="fa fa-times"></i>
                                                            </a>
                                                        </span>
                                                        <span class="description">Sent you a message - 3 days ago</span>
                                                    </div>
                                                    <!-- /.user-block -->
                                                    <p>
                                                        Lorem ipsum represents a long-held tradition for designers, typographers and the like. Some people hate it and argue for
                                                        its demise, but others ignore the hate as they create awesome tools
                                                        to help create filler text for everyone from bacon lovers to Charlie
                                                        Sheen fans.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="custom-fixed-bottom" style="position: fixed;right: 0;bottom: 0;z-index: 1030;width: 75%">
                                                <div class="card-footer">
                                                    <div class="input-group">
                                                        <input type="text" name="message" placeholder="Type Comment ..." class="form-control">
                                                        <span class="input-group-append">
                                                            <button type="submit" class="btn btn-success">Send</button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- /.tab-pane -->
                                    </div>
                                    <!-- /.tab-content -->
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </section>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrapper -->
                    <%- include('./components/footer'); -%>
                    <%- include('./components/right-sidebar'); -%>
        </div>
        <!-- ./wrapper -->
        <%- include('./components/scripts'); -%>
    </body>

</html>