<!DOCTYPE html>
<html lang="en">
<%- include('./components/header'); -%>
<style>
        .update-input {
            border: 1px solid #f4f6f9;
            text-align: center;
            border-bottom-color: #ced4da;
            background-color: #f4f6f9;
        }

        .update-input-bottom {
            border: 1px solid #fff;
            text-align: left;
            border-bottom-color: #ced4da;
            background-color: #fff;
            margin-top: 10px;
        }
    </style>

    <body>
        <!-- Site wrapper -->
        <div class="wrapper">
            <%- include('./components/navbar'); -%>
                <%- include('./components/sidebar'); -%>
                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper" style="padding: 25px;">
                        <div class="message-box" style="display: none">
                            <div class="alert alert-danger alert-dismissible" style="display:block; margin: 10px;">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                You can not access here!</div>
                        </div>
                        <!-- Content Header (Page header) -->
                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-12 detail-header">
                                        <span class="detail-header-edit">
                                            <a href="../detail/<%= data.startup.id %>">
                                                <i style="font-size: 20px;" class="fas fa-save"></i>
                                            </a>
                                        </span>
                                        <span class="detail-header-status">
                                            <%if (data.status != null) { %>
                                                
                                                <select style="z-index: 999" class="form-control form-control-sm detail-header-sub-title update-input-bottom" id="status">
                                                        <option value="1"><%= data.status.name  %></option>
                                                        <option value="2">Görüşme aşamasında</option>
                                                        <option value="3">Bilinmeyen</option>
                                                      
                                        </select>
                                                    <%} else{%>
                                                        
                                                        <span class="dot" style="background-color: #ccc;"></span>
                                                        Unknown
                                                        <%}%>
                                        </span>

                                        
                                        <div class="row">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-6">
                                                <input class="form-control form-control-lg detail-header-title update-input" type="text" placeholder="<%= data.startup.title %>"
                                                    value="<%= data.startup.title %>">
                                            </div>
                                            <div class="col-md-3"></div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-3 col-6 col-sm-6">
                                                <%if (data.startup.phoneNumber != null) { %>
                                                    <input class="form-control form-control form-control-sm detail-header-sub-title update-input" type="text" placeholder="<%= data.startup.phoneNumber %>"
                                                        value="<%= data.startup.phoneNumber %>">
                                                    </i>
                                                    <%}%>
                                            </div>
                                            <div class="col-md-3 col-6 col-sm-6">
                                                <select class="form-control form-control-sm detail-header-sub-title update-input">
                                                    <option selected value="<%= data.country.id %>">
                                                        <%= data.country.nicename %>
                                                    </option>
                                                    <% for(var j=0; j<allCountries.length; j++) {%>
                                                            <option value="<%= allCountries[j].id %>"><%= allCountries[j].name %></option>
                                                    <% } %>
                                                </select>
                                            </div>
                                            <div class="col-md-3"></div>
                                        </div>
                                        <!-- /.tags -->
                                        <input name='tags' placeholder='write here' value="<%= values %>">

                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- /.container-fluid -->
                        </section>
                        <!-- Main content -->
                        <section class="content">
                            <div class="card" style="box-shadow: 0 0 0px rgba(0,0,0,0);">
                                <!-- /.card-header -->
                                <div class="tab-pane active show" id="details" style="background-color: #f4f6fa;">
                                    <div class="card card-default color-palette-box">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                                Company Authority
                                            </h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <b>Full Name: </b>
                                                    <span>
                                                        <input class="form-control form-control form-control-sm detail-header-sub-title update-input-bottom" type="text" placeholder=" <%= data.startup.entrepreneurFullName %>"
                                                            value="<%= data.startup.entrepreneurFullName %>">


                                                    </span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <b>Job Title: </b>
                                                    <span>
                                                        <input class="form-control form-control form-control-sm detail-header-sub-title update-input-bottom" type="text" placeholder="<%= data.startup.entrepreneurJobTitle %>"
                                                            value="<%= data.startup.entrepreneurJobTitle %>">


                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <div class="card card-default color-palette-box">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="fa fa-building" aria-hidden="true"></i>
                                                Company Informations
                                            </h3>
                                        </div>
                                        <div class="card-body firm-info">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <b>Description: </b>
                                                    <span>
                                                        <textarea rows="2" class="form-control form-control form-control-sm detail-header-sub-title update-input-bottom" type="text"
                                                            placeholder=" <%= data.startup.description %>"><%= data.startup.description %></textarea>


                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <b>Sector: </b>
                                                    <span>
                                                            <select class="form-controlform-control form-control form-control-sm detail-header-sub-title update-input-bottom" id="sector">
                                                                <option selected value="<%= data.sector.id %>"><%= data.sector.name %></option>
                                                                    <% for(var j=0; j<allSectors.length; j++) {%>
                                                                <option value="<%= allSectors[j].id %>"><%= allSectors[j].name %></option>
                                                                <% } %>
                                                            </select>

                                                    </span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <b>Cooperations: </b>
                                                    <span>
                                                        <input class="form-control form-control form-control-sm detail-header-sub-title update-input-bottom" type="text" placeholder="<%= data.startup.cooperation %>"
                                                            value=" <%= data.startup.cooperation %>">


                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <b>Compliance to Doğuş Group (0-10): </b>
                                                    <span>
                                                        <select class="form-control form-control-sm detail-header-sub-title update-input-bottom">
                                                            <option selected value="<%= data.startup.availabilityForDogus %>">
                                                                <%= data.startup.availabilityForDogus %>
                                                            </option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                            <option value="8">8</option>
                                                            <option value="9">9</option>
                                                            <option value="10">10</option>
                                                        </select>

                                                    </span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <b>Company Quality (0-10): </b>
                                                    <span>
                                                        <select class="form-control form-control-sm detail-header-sub-title update-input-bottom">
                                                            <option selected value="<%= data.startup.quality %>">
                                                                <%= data.startup.quality %>
                                                            </option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                            <option value="8">8</option>
                                                            <option value="9">9</option>
                                                            <option value="10">10</option>
                                                        </select>

                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <b>Assets: </b>
                                                    <div class="col-sm-12 mailbox-attachments">
                                                        <% for(var i=0; i<data.assetList.length; i++) {%>
                                                            <div>
                                                                <%if (data.assetList[i].assetType == "pdf") { %>
                                                                    <span class="mailbox-attachment-icon">
                                                                        <i class="fa fa-file-pdf-o"></i>
                                                                    </span>
                                                                    <%} else if (data.assetList[i].assetType == "docx"){ %>
                                                                        <span class="mailbox-attachment-icon">
                                                                            <i class="fa fa-file-word-o"></i>
                                                                        </span>
                                                                        <%} else if (data.assetList[i].assetType == "png" || data.assetList[i].assetType == "jpg"){ %>
                                                                            <span class="mailbox-attachment-icon has-img">
                                                                                <img class="attachment-cover" src="<%= data.assetList[i].fileUrl %>" alt="Attachment">
                                                                            </span>
                                                                            <% } %>
                                                                                <div class="mailbox-attachment-info">
                                                                                    <a href="<%= data.assetList[i].fileUrl %>" class="mailbox-attachment-name">
                                                                                        <i class="fa fa-paperclip"></i>
                                                                                        <%= data.assetList[i].fileUrl.split("/")[data.assetList[i].fileUrl.split("/").length-1] %>
                                                                                    </a>
                                                                                </div>
                                                            </div>
                                                            <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <b>Doğuş Groups - Horizon List: </b>
                                                </div>
                                                <div class="row" style="margin-left: 0px;">
                                                    <div class="col-sm-5">
                                                            <select class="form-control form-control-sm detail-header-sub-title update-input-bottom" id="group">
                                                                    <% for(var j=0; j<allGroups.length; j++) {%>
                                                                            <option value="<%= allGroups[j].name %>"><%= allGroups[j].name %></option>
                                                                            <% } %>
                                                            </select>
                                                    </div>
                                                    <div class="col-sm-5">
                                                            <select class="form-control form-control-sm detail-header-sub-title update-input-bottom" id="horizon">
                                                                            <option value="1">Horizon 1</option>
                                                                            <option value="2">Horizon 2</option>
                                                                            <option value="3">Horizon 3</option>
                                                                          
                                                            </select>
                                                    </div>
                                                    <div class="col-sm-2">
                                                            <button type="submit" onclick="addHorizonListItem()" style="margin-top: 10px;" class="btn btn-info btn-sm float-right">Save</button>
                                                    </div>
                                                </div>
                                                <div class="horizon-list col-sm-12">
                                                <% for(var i=0; i<data.groups.length; i++) {%>
                                                    
                                                    <div class="col-sm-12 horizon-list-item-<%= data.groups[i].groupId %>" style="margin-top:5px;">
                                                        <%= data.groups[i].groupName %> &#8594; Horizon
                                                            <%= data.groups[i].horizon %><a onclick="deleteHorizonListItem('<%= data.groups[i].groupId %>')">&nbsp;<i style="color: red;" class="fas fa-minus-circle"></i></a>
                                                    </div>
                                                    <% } %>
                                                </div>
                                            </div>
                                            <script>
                                                function addHorizonListItem(){
                                                    var className = String($('#group').val()).replace(" ","");
                                                    console.log(className);
                                                    $(".horizon-list").append("<div class='col-sm-12 horizon-list-item-"+className+"' style='margin-top:5px;'>"+$('#group').val()+"&#8594; Horizon" + $('#horizon').val()+"<a onclick='deleteHorizonListItem(`"+className+"`)'>&nbsp;<i style='color: red;' class='fas fa-minus-circle'></i></a></div>")
                                                }
                                                function deleteHorizonListItem(deletedItem){
                                                    $(".horizon-list-item-"+deletedItem).remove()
                                                }
                                            </script>

                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <div class="card card-default color-palette-box">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="fa fa-diamond" aria-hidden="true"></i>
                                                Company Hunter
                                            </h3>
                                        </div>
                                        <div class="card-body firm-info">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <b>Full Name: </b>
                                                    <span>
                                                        <%= data.consumer.fullName %>
                                                    </span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <b>Email: </b>
                                                    <span>
                                                        <%= data.consumer.email %>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <b>Company: </b>
                                                    <span>
                                                        <%= data.consumer.companyName %>
                                                    </span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <b>Job Title: </b>
                                                    <span>
                                                        <%= data.consumer.jobTitle %>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.post -->
                                </div>
                                <!-- /Detail Panel -->
                            </div>
                        </section>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrapper -->
                    <%- include('./components/footer'); -%>
                        <%- include('./components/right-sidebar'); -%>
                            <%- include('./components/scripts'); -%>
        </div>
        <!-- ./wrapper -->
        <link href="https://s3.eu-west-3.amazonaws.com/invendocdn/css/tagify.css" rel="stylesheet" />
        <script src="https://s3.eu-west-3.amazonaws.com/invendocdn/js/tagify.js"></script>
    </body>


    <script>
        $(function () {
            $.get("/controller/getTags", function (res) {
                var whitelist = [];
                var tags = JSON.parse(res);
                console.log(tags);
                for (var i = 0; i < tags.length; i++) {
                    whitelist.push(tags[i].tag.name);
                }
                var input1 = document.querySelector('input[name=tags]'),
                    tagify1 = new Tagify(input1, {
                        whitelist: whitelist,
                    })

                // listen to custom 'remove' tag event
                tagify1.on('remove', onRemoveTag);

                function onRemoveTag(e) {
                    console.log(e, e.detail);
                }

                function onAddTag(e) {
                    console.log(e, e.detail);
                }
            })
        })
    </script>

</html>