<!DOCTYPE html>
<html lang="en">
<%- include('./components/header'); -%>
    <style>
        .update-input {
            border: 1px solid #f4f6f9;
            text-align: center;
            border-bottom-color: #ced4da;
            background-color: #f4f6f9;
        }

        .update-input-bottom {
            border: 1px solid #fff;
            text-align: left;
            border-bottom-color: #ced4da;
            background-color: #fff;
            margin-top: 10px;
        }
    </style>

    <body>
        <!-- Site wrapper -->
        <div class="wrapper">
            <%- include('./components/navbar'); -%>
                <%- include('./components/sidebar'); -%>
                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper" style="padding: 25px;">
                        <div class="message-box" style="display: none">
                            <div class="alert alert-danger alert-dismissible" style="display:block; margin: 10px;">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                You can not access here!</div>
                        </div>
                        <div class="message-box-success" style="display: none">
                            <div class="alert alert-success alert-dismissible" style="display:block; margin: 10px;">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                Startup succesfully updated!</div>
                        </div>
                        <div class="message-box-danger" style="display: none">
                            <div class="alert alert-danger alert-dismissible" style="display:block; margin: 10px;">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                Startup could not be updated! You can not access here!</div>
                        </div>
                        <!-- Content Header (Page header) -->
                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-12 detail-header">
                                        <span class="detail-header-edit">
                                            <a onclick="updateStartup()">
                                                <i style="font-size: 20px;" class="fas fa-save"></i>
                                            </a>
                                        </span>
                                        <span class="detail-header-status">
                                            <%if (data.status != null) { %>

                                                <select style="z-index: 999" class="form-control form-control-sm detail-header-sub-title update-input-bottom" id="status">
                                                    <option value="<%= data.status.id  %>">
                                                        <%= data.status.name  %>
                                                    </option>
                                                    <% for(var j=0; j<allStatus.length; j++) {%>
                                                        <option value="<%= allStatus[j].id %>">
                                                            <%= allStatus[j].name %>
                                                        </option>
                                                        <% } %>

                                                </select>
                                                <%} else{%>

                                                    <span class="dot" style="background-color: #ccc;"></span>
                                                    Unknown
                                                    <%}%>
                                        </span>


                                        <div class="row">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-6">
                                                <input id="startupName" class="form-control form-control-lg detail-header-title update-input" type="text" placeholder="<%= data.startup.title %>"
                                                    value="<%= data.startup.title %>">
                                            </div>
                                            <div class="col-md-3"></div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                    <input type="text" id="meeting-date" placeholder="<%= new Date(data.startup.meetingDate).toDateString() %>" value="<%= new Date(data.startup.meetingDate).toDateString() %>" class="form-control form-control-sm detail-header-sub-title update-input" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="">

                                            </div>
                                            <div class="col-md-3 col-6 col-sm-6">
                                                <%if (data.startup.phoneNumber == null) { %>
                                                    <input id="phoneNumber" class="form-control form-control-sm detail-header-sub-title update-input" type="text"
                                                        placeholder="Phone Number">
                                                    <%} else{ %>
                                                        <input id="phoneNumber" class="form-control form-control-sm detail-header-sub-title update-input" type="text"
                                                        placeholder="<%= data.startup.phoneNumber %>" value="<%= data.startup.phoneNumber %>">
                                                    
                                                        <% } %>
                                            </div>
                                            <div class="col-md-3 col-6 col-sm-6">
                                                <select id="countryName" class="form-control form-control-sm detail-header-sub-title update-input">
                                                    <option selected value="<%= data.country.id %>">
                                                        <%= data.country.nicename %>
                                                    </option>
                                                    <% for(var j=0; j<allCountries.length; j++) {%>
                                                        <option value="<%= allCountries[j].id %>">
                                                            <%= allCountries[j].nicename %>
                                                        </option>
                                                        <% } %>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                    <input type="text" id="webPage" placeholder="<%= data.startup.webPage %>" value="<%= data.startup.webPage %>" class="form-control form-control-sm detail-header-sub-title update-input" >

                                            </div>
                                        </div>
                                        <!-- /.tags -->
                                        <input name='tags' placeholder='write here' value="<%= values %>" id="tagInput">

                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- /.container-fluid -->
                        </section>
                        <!-- Main content -->
                        <section class="content">
                            <div class="card" style="box-shadow: 0 0 0px rgba(0,0,0,0);">
                                <!-- /.card-header -->
                                <div class="tab-pane active show" id="details" style="background-color: #f4f6fa;">
                                    <div class="card card-default color-palette-box">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                                Company Authority
                                            </h3>
                                        </div>
                                        <div class="entrepreneurs">
                                        <% for(var j=0; j<data.entrepreneurs.length; j++) {%>
                                                <div class="card-body ">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <b>Full Name: </b>
                                                            <span>
                                                                    <input id="authority-fullName<" class="form-control form-control form-control-sm detail-header-sub-title update-input-bottom" type="text"
                                                                    placeholder="<%= data.entrepreneurs[j].fullName %>" value="<%= data.entrepreneurs[j].fullName %>">
        
                                                            </span>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <b>Job Title: </b>
                                                            <span>
                                                                    <input id="authority-jobTitle" class="form-control form-control form-control-sm detail-header-sub-title update-input-bottom" type="text"
                                                                    placeholder="<%= data.entrepreneurs[j].jobTitle %>" value="<%= data.entrepreneurs[j].jobTitle %>">
        
                                                            </span>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <b>Phone Number: </b>
                                                            <span>
                                                                    <input id="authority-phoneNumber" class="form-control form-control form-control-sm detail-header-sub-title update-input-bottom" type="text"
                                                                    placeholder="<%= data.entrepreneurs[j].phoneNumber %>" value="<%= data.entrepreneurs[j].phoneNumber %>">
        
                                                            </span>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <b>E-Mail: </b>
                                                            <span>
                                                                    <input id="authority-email" class="form-control form-control form-control-sm detail-header-sub-title update-input-bottom" type="text"
                                                                    placeholder=" <%= data.entrepreneurs[j].email %>" value=" <%= data.entrepreneurs[j].email %>">
        
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } %>
                                            </div>
                                                    <!-- /.card-body -->
                                    </div>
                                    <div class="card card-default color-palette-box">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="fa fa-building" aria-hidden="true"></i>
                                                Company Informations
                                            </h3>
                                        </div>
                                        <div class="card-body firm-info">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <b>Description: </b>
                                                    <span>
                                                        <textarea id="description" rows="2" class="form-control form-control form-control-sm detail-header-sub-title update-input-bottom"
                                                            type="text" placeholder=" <%= data.startup.description %>"><%= data.startup.description %></textarea>


                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <b>Sector: </b>
                                                    <span>
                                                        <select class="form-controlform-control form-control form-control-sm detail-header-sub-title update-input-bottom" id="sector">
                                                            <option selected value="<%= data.sector.id %>">
                                                                <%= data.sector.name %>
                                                            </option>
                                                            <% for(var j=0; j<allSectors.length; j++) {%>
                                                                <option value="<%= allSectors[j].id %>">
                                                                    <%= allSectors[j].name %>
                                                                </option>
                                                                <% } %>
                                                        </select>

                                                    </span>
                                                </div>
                                                <div class="col-sm-6">
                                                        <b>Other Products: </b>
                                                        <span>
                                                            <input id="other-products" class="form-control form-control form-control-sm detail-header-sub-title update-input-bottom" type="text"
                                                                placeholder="<%= data.startup.products %>" value="<%= data.startup.products %>">
    
    
                                                        </span>
                                                    </div>

                                                <div class="col-sm-6">
                                                    <b>Cooperations: </b>
                                                    <span>
                                                        <input id="cooperation" class="form-control form-control form-control-sm detail-header-sub-title update-input-bottom" type="text"
                                                            placeholder="<%= data.startup.cooperation %>" value=" <%= data.startup.cooperation %>">


                                                    </span>
                                                </div>

                                                <div class="col-sm-6">
                                                        <b>Competings: </b>
                                                        <span>
                                                            <input id="competing-companies" class="form-control form-control form-control-sm detail-header-sub-title update-input-bottom" type="text"
                                                                placeholder="<%= data.startup.competingCompanies %>" value="<%= data.startup.competingCompanies %>">
    
    
                                                        </span>
                                                    </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <b>Compliance to Doğuş Group (0-10): </b>
                                                    <span>
                                                        <select id="availabilityForDogus" class="form-control form-control-sm detail-header-sub-title update-input-bottom">
                                                            <option selected value="<%= data.startup.availabilityForDogus %>">
                                                                <%= data.startup.availabilityForDogus %>
                                                            </option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                            <option value="8">8</option>
                                                            <option value="9">9</option>
                                                            <option value="10">10</option>
                                                        </select>

                                                    </span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <b>Company Quality (0-10): </b>
                                                    <span>
                                                        <select id="quality" class="form-control form-control-sm detail-header-sub-title update-input-bottom">
                                                            <option selected value="<%= data.startup.quality %>">
                                                                <%= data.startup.quality %>
                                                            </option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                            <option value="8">8</option>
                                                            <option value="9">9</option>
                                                            <option value="10">10</option>
                                                        </select>

                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <b>Documents: </b>
                                                    <div class="col-sm-12 mailbox-attachments">
                                                        <% for(var i=0; i<data.documentList.length; i++) {%>
                                                            <div>
                                                                <%if (data.documentList[i].assetType == "pdf") { %>
                                                                    <span class="mailbox-attachment-icon">
                                                                        <i class="fa fa-file-pdf-o"></i>
                                                                    </span>
                                                                    <%} else if (data.documentList[i].assetType == "docx"){ %>
                                                                        <span class="mailbox-attachment-icon">
                                                                            <i class="fa fa-file-word-o"></i>
                                                                        </span>
                                                                        <%} else if (data.documentList[i].assetType == "png" || data.documentList[i].assetType == "jpg"){ %>
                                                                            <span class="mailbox-attachment-icon has-img">
                                                                                <img class="attachment-cover" src="<%= data.documentList[i].fileUrl %>" alt="Attachment">
                                                                            </span>
                                                                            <% } %>
                                                                                <div class="mailbox-attachment-info">
                                                                                    <a href="<%= data.documentList[i].fileUrl %>" class="mailbox-attachment-name">
                                                                                        <i class="fa fa-paperclip"></i>
                                                                                        <%= data.documentList[i].fileUrl.split("/")[data.documentList[i].fileUrl.split("/").length-1] %>
                                                                                    </a>
                                                                                </div>
                                                            </div>
                                                            <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <b>Doğuş Groups - Horizon List: </b>
                                                </div>
                                                <div class="row" style="margin-left: 0px;">
                                                    <div class="col-sm-5">
                                                        <select class="form-control form-control-sm detail-header-sub-title update-input-bottom" id="group">
                                                            <% for(var j=0; j<allGroups.length; j++) {%>
                                                                <option value="<%= allGroups[j].id %>">
                                                                    <%= allGroups[j].name %>
                                                                </option>
                                                                <% } %>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <select class="form-control form-control-sm detail-header-sub-title update-input-bottom" id="horizon">
                                                            <option value="1">Horizon 1</option>
                                                            <option value="2">Horizon 2</option>
                                                            <option value="3">Horizon 3</option>

                                                        </select>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <button type="submit" onclick="addHorizonListItem()" style="margin-top: 10px;" class="btn btn-info btn-sm float-right">Save</button>
                                                    </div>
                                                </div>
                                                <div class="horizon-list col-sm-12">
                                                    <% for(var i=0; i<data.groups.length; i++) {%>

                                                        <div class="col-sm-12 horizon-list-item-<%= data.groups[i].groupId %>-<%= data.groups[i].horizon %>" style="margin-top:5px;">
                                                            <%= data.groups[i].groupName %> &#8594; Horizon
                                                                <%= data.groups[i].horizon %>
                                                                    <a onclick="deleteHorizonListItem('<%= data.groups[i].groupId %>-<%= data.groups[i].horizon %>')">&nbsp;
                                                                        <i style="color: red;" class="fas fa-minus-circle"></i>
                                                                    </a>
                                                        </div>
                                                        <% } %>
                                                </div>
                                            </div>

                                            <div class="row">
                                                    <div class="col-sm-12">
                                                        <b>Capital and Partners </b>
                                                    </div>
                                                    <div class="row" style="margin-left: 0px;">
                                                        <div class="col-sm-5">
                                                                <input id="capCompanyName" class="form-control form-control form-control-sm detail-header-sub-title update-input-bottom" type="text"
                                                                placeholder="Company Name">
    
                                                        </div>
                                                        <div class="col-sm-5">
                                                                <input id="capShare" class="form-control form-control form-control-sm detail-header-sub-title update-input-bottom" type="text"
                                                                placeholder="Share Value">
    
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <button type="submit" onclick="addCapitalPartnersList()" style="margin-top: 10px;" class="btn btn-info btn-sm float-right">Save</button>
                                                        </div>
                                                    </div>
                                                    <div class="capitalpartners-list col-sm-12">
                                                        <% for(var i=0; i<data.capitalAndPartners.length; i++) {%>
    
                                                            <div class="col-sm-12 capitalpartners-item-<%= data.capitalAndPartners.id %>" style="margin-top:5px;">
                                                                    <%= data.capitalAndPartners[i].companyName %> &#8594; %
                                                                    <%= data.capitalAndPartners[i].share %>
                                                                        <a onclick="deleteHorizonListItem('<%= data.capitalAndPartners.id %>')">&nbsp;
                                                                            <i style="color: red;" class="fas fa-minus-circle"></i>
                                                                        </a>
                                                            </div>
                                                            <% } %>
                                                    </div>
                                                </div>

                                        </div>
                                        <!-- /.card-body -->
                                    </div>

                                    <div class="card card-default color-palette-box">
                                            <div class="card-header">
                                                <div class="row">
                                                    <div class="col-6">
                                                            <h3 class="card-title">
                                                                    <i class="fa fa-tag" aria-hidden="true"></i>
                                                                    Assets
                                                                </h3>
                                                    </div>
                                                    <div class="col-6 new-asset">
                                                                    <a style="float:right" onclick="newAsset()">
                                                                        <i class="fa fa-plus-circle" style="font-size: 25px"></i>
                                                                      </a>
                                                    </div>
                                                </div>
                                                
                                                
                                            </div>
                                            <!-- /.card-header -->

                                            <div id="assets">
                                            <% for(var i=0; i<assets.length; i++) {%>
                                                    <div class="card card-danger color-palette-box">
                                                    <div class="card-header">
                                                            <h6 style="margin-bottom: 0px;">
                                                                <i class="fa fa-clock" aria-hidden="true"></i>
                                                                Asset for <%= assets[i].groupId %>
                                                            </h6>
                                                        </div>
                                                <div class="card-body table-responsive p-0">
                                                    <table class="table table-striped">
                                                        <tbody>
                                                            <tr>
                                                                <th style="width: 30%">Evaluation Criteria</th>
                                                                <th style="width: 10%">Perfection</th>
                                                                <th style="width: 10%">
                                                                    
                                                                    <select class="form-control form-control-sm update-input" style="color: black;font-weight: 600;" id="group">
                                                                            <option selected value="<%= assets[i].groupId %>">
                                                                                    <%= assets[i].groupId %>
                                                                            </option>
                                                                        <% for(var j=0; j<allGroups.length; j++) {%>
                                                                                <option value="<%= allGroups[j].id %>">
                                                                                    <%= allGroups[j].name %>
                                                                                </option>
                                                                                <% } %>
                                                                        </select>
                                                                </th>
                                                                <th style="width: 50%">Notes</th>
                                                            </tr>
                                                            <tr>
                                                                <td>Products and services</td>
                                                                <td>
                                                                   
                                                                        <select id="availabilityForDogus" class="form-control form-control-sm">
                                                                                <option selected value="<%= assets[i].productsAndServicesPerfection %>">
                                                                                        <%= assets[i].productsAndServicesPerfection %>
                                                                                </option>
                                                                                <option value="1">1</option>
                                                                                <option value="2">2</option>
                                                                                <option value="3">3</option>
                                                                                <option value="4">4</option>
                                                                                <option value="5">5</option>
                                                                            </select>
                                                                    
                                                                </td>
                                                                <td>
                                                                    
                                                                        
                                                                        <select id="availabilityForDogus" class="form-control form-control-sm ">
                                                                                <option selected value="<%= assets[i].productsAndServicesRelevance %>">
                                                                                        <%= assets[i].productsAndServicesRelevance %>
                                                                                </option>
                                                                                <option value="1">1</option>
                                                                                <option value="2">2</option>
                                                                                <option value="3">3</option>
                                                                                <option value="4">4</option>
                                                                                <option value="5">5</option>
                                                                            </select>
                                                                    
                                                                </td>
                                                                <td>
                                                                    
                                                                    <textarea id="description" rows="1" class="form-control form-control form-control-sm"" "
                                                            type="text" placeholder="<%= assets[i].productsAndServicesNote %>"><%= assets[i].productsAndServicesNote %></textarea>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Team Members</td>
                                                                <td>
                                                                    
                                                                        <select id="availabilityForDogus" class="form-control form-control-sm">
                                                                                <option selected value=" <%= assets[i].teamMembersPerfection %>">
                                                                                        <%= assets[i].teamMembersPerfection %>
                                                                                </option>
                                                                                <option value="1">1</option>
                                                                                <option value="2">2</option>
                                                                                <option value="3">3</option>
                                                                                <option value="4">4</option>
                                                                                <option value="5">5</option>
                                                                            </select>
                                                                   
                                                                </td>
                                                                <td>
                                                                    
                                                                        
                                                                        <select id="availabilityForDogus" class="form-control form-control-sm">
                                                                                <option selected value="<%= assets[i].teamMembersRelevance %>">
                                                                                        <%= assets[i].teamMembersRelevance %>
                                                                                </option>
                                                                                <option value="1">1</option>
                                                                                <option value="2">2</option>
                                                                                <option value="3">3</option>
                                                                                <option value="4">4</option>
                                                                                <option value="5">5</option>
                                                                            </select>
                                                                    
                                                                </td>
                                                                <td>

                                                                        <textarea id="description" rows="1" class="form-control form-control form-control-sm"" "
                                                                        type="text" placeholder="<%= assets[i].teamMembersNote %>"><%= assets[i].teamMembersNote %></textarea>
                                                                    
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Data</td>
                                                                <td>
                                                                    
                                                                        
                                                                        <select id="availabilityForDogus" class="form-control form-control-sm">
                                                                                <option selected value="<%= assets[i].dataPerfection %>">
                                                                                        <%= assets[i].dataPerfection %>
                                                                                </option>
                                                                                <option value="1">1</option>
                                                                                <option value="2">2</option>
                                                                                <option value="3">3</option>
                                                                                <option value="4">4</option>
                                                                                <option value="5">5</option>
                                                                            </select>
                                                                    
                                                                </td>
                                                                <td>
                                                                   
                                                                        
                                                                        <select id="availabilityForDogus" class="form-control form-control-sm">
                                                                                <option selected value="<%= assets[i].dataRelevance %>">
                                                                                        <%= assets[i].dataRelevance %>
                                                                                </option>
                                                                                <option value="1">1</option>
                                                                                <option value="2">2</option>
                                                                                <option value="3">3</option>
                                                                                <option value="4">4</option>
                                                                                <option value="5">5</option>
                                                                            </select>
                                                                    
                                                                </td>
                                                                <td>
                                                                        <textarea id="description" rows="1" class="form-control form-control form-control-sm"" "
                                                                        type="text" placeholder="<%= assets[i].dataNote %>"><%= assets[i].dataNote %></textarea>
                                                                   
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Channels</td>
                                                                <td>
                                                                    
                                                                        
                                                                        <select id="availabilityForDogus" class="form-control form-control-sm">
                                                                                <option selected value="<%= assets[i].channelsPerfection %>">
                                                                                        <%= assets[i].channelsPerfection%>
                                                                                </option>
                                                                                <option value="1">1</option>
                                                                                <option value="2">2</option>
                                                                                <option value="3">3</option>
                                                                                <option value="4">4</option>
                                                                                <option value="5">5</option>
                                                                            </select>
                                                                    
                                                                </td>
                                                                <td>
                                                                   
                                                                        
                                                                        <select id="availabilityForDogus" class="form-control form-control-sm">
                                                                                <option selected value="<%= assets[i].channelsRelevance %>">
                                                                                        <%= assets[i].channelsRelevance %>
                                                                                </option>
                                                                                <option value="1">1</option>
                                                                                <option value="2">2</option>
                                                                                <option value="3">3</option>
                                                                                <option value="4">4</option>
                                                                                <option value="5">5</option>
                                                                            </select>
                                                                   
                                                                </td>
                                                                <td>
                                                                    
                                                                    <textarea id="description" rows="1" class="form-control form-control form-control-sm"" "
                                                                        type="text" placeholder="<%= assets[i].channelsNote %>"><%= assets[i].channelsNote %></textarea>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Customer Base</td>
                                                                <td>
                                                                   
                                                                        
                                                                        <select id="availabilityForDogus" class="form-control form-control-sm">
                                                                                <option selected value="<%= assets[i].customerBasePerfection %>">
                                                                                        <%= assets[i].customerBasePerfection %>
                                                                                </option>
                                                                                <option value="1">1</option>
                                                                                <option value="2">2</option>
                                                                                <option value="3">3</option>
                                                                                <option value="4">4</option>
                                                                                <option value="5">5</option>
                                                                            </select>
                                                                   
                                                                </td>
                                                                <td>
                                                                   
                                                                       
                                                                        <select id="availabilityForDogus" class="form-control form-control-sm">
                                                                                <option selected value="<%= assets[i].customerBaseRelevance %>">
                                                                                        <%= assets[i].customerBaseRelevance %>
                                                                                </option>
                                                                                <option value="1">1</option>
                                                                                <option value="2">2</option>
                                                                                <option value="3">3</option>
                                                                                <option value="4">4</option>
                                                                                <option value="5">5</option>
                                                                            </select>
                                                                   
                                                                </td>
                                                                <td>
                                                                        <textarea id="description" rows="1" class="form-control form-control form-control-sm"" "
                                                                        type="text" placeholder="<%= assets[i].customerBaseNote %>"><%= assets[i].customerBaseNote %></textarea>
                                                                    
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Intellectual Property Rights</td>
                                                                <td>
                                                                        <select id="availabilityForDogus" class="form-control form-control-sm">
                                                                                <option selected value="<%= assets[i].intellectualPropertyRightsPerfection %>">
                                                                                        <%= assets[i].intellectualPropertyRightsPerfection %>
                                                                                </option>
                                                                                <option value="1">1</option>
                                                                                <option value="2">2</option>
                                                                                <option value="3">3</option>
                                                                                <option value="4">4</option>
                                                                                <option value="5">5</option>
                                                                            </select>
                                                                </td>
                                                                <td>
                                                                        
                                                                        <select id="availabilityForDogus" class="form-control form-control-sm">
                                                                                <option selected value="<%= assets[i].intellectualPropertyRightsRelevance %>">
                                                                                        <%= assets[i].intellectualPropertyRightsRelevance %>
                                                                                </option>
                                                                                <option value="1">1</option>
                                                                                <option value="2">2</option>
                                                                                <option value="3">3</option>
                                                                                <option value="4">4</option>
                                                                                <option value="5">5</option>
                                                                            </select>
                                                                </td>
                                                                <td>
                                                                        <textarea id="description" rows="1" class="form-control form-control form-control-sm"" "
                                                                        type="text" placeholder="<%= assets[i].intellectualPropertyRightsNote %>"><%= assets[i].intellectualPropertyRightsNote %></textarea>
                                                                    
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>General Evaluation</td>
                                                                <td>
                                                                </td>
                                                                <td>
                                                                </td>
                                                                <td>
                                                                        <%if (assets[i].generalEvaluation == 1 ) { %>
                                                                            <div class="row">
                                                                                
                                                                            <div class="col-6" style="border: solid 1px red;">Innovation</div>
                                                                            <div class="col-6" style="border: solid 1px lightgray;">Process Improvement</div>
                                                                            </div>
                                                                            <%} else{%>
                                                                                <div class="row">
                                                                                <div class="col-6" style="border: solid 1px red;">Process Improvement</div>
                                                                                    <div class="col-6" style="border: solid 1px lightgray;">Innovation</div>
                                                                                </div>
                                                                                <%}%>
                                                                    
                                                                </td>
                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                                <% } %>
                                                    <!-- /.card-body -->
                                                </div>
                                        </div>


                                    <div class="card card-default color-palette-box">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                <i class="fa fa-diamond" aria-hidden="true"></i>
                                                Company Hunter
                                            </h3>
                                        </div>
                                        <div class="card-body firm-info">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <b>Full Name: </b>
                                                    <span>
                                                        <%= data.consumer.fullName %>
                                                    </span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <b>Email: </b>
                                                    <span>
                                                        <%= data.consumer.email %>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <b>Company: </b>
                                                    <span>
                                                        <%= data.consumer.companyName %>
                                                    </span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <b>Job Title: </b>
                                                    <span>
                                                        <%= data.consumer.jobTitle %>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.post -->
                                </div>
                                <!-- /Detail Panel -->
                            </div>
                        </section>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrapper -->
                    <%- include('./components/footer'); -%>
                        <%- include('./components/right-sidebar'); -%>
                            <%- include('./components/scripts'); -%>
        </div>
        <!-- ./wrapper -->
        <link href="https://s3.eu-west-3.amazonaws.com/invendocdn/css/tagify.css" rel="stylesheet" />
        <script src="https://s3.eu-west-3.amazonaws.com/invendocdn/js/tagify.js"></script>
    </body>


    <script>
        function updateStartup() {
            console.lo
            var startupData = {
                "startup": {
                    "title": $("#startupName").val(),
                    "description": $("#description").text(),
                    "consumerId": parseInt('<%= data.startup.id %>'),
                    "sectorId": parseInt($("#sector").val()),
                    "availabilityForDogus": parseInt($("#availabilityForDogus").val()),
                    "quality": parseInt($("#quality").val()),
                    "cooperation": $("#cooperation").val(),
                    "phoneNumber": $("#phoneNumber").val(),
                    "entrepreneurFullName": $("#fullName").val(),
                    "entrepreneurJobTitle": $("#jobTitle").val(),
                    "countryId": parseInt($("#countryName").val()),
                    "statusId": parseInt($("#status").val()),
                },
                "assets": [],
                "tags": getTag(),
                "groups": horizonList
            }
            console.log(startupData);
            $.ajax({
                type: 'POST',
                dataType: "json",
                data: JSON.stringify(startupData),
                contentType: 'application/json; charset=utf-8',
                url: '/controller/update/<%= data.startup.id %>',
                success: function (data) {

                    console.log(data);
                    $(".message-box-success").toggle(750, function () {
                        setTimeout(function () {
                            $(".message-box-success").toggle(750);
                        }, 3000);
                    });
                },
                error: function (data) {
                    $(".message-box-danger").toggle(750, function () {
                        setTimeout(function () {
                            $(".message-box-danger").toggle(750);
                        }, 2500);
                    });
                }
            });
        }

        function getTag() {
            var allTag = [];
            var tags = String($("#tagInput").val()).split(',');
            for (i = 0; i < tags.length; i++) {
                allTag.push({
                    "name": tags[i]
                });
            }
            return allTag;
        }
console.log(horizonList);
        var horizonList = [];
        var userHorizonList = JSON.parse('<%- JSON.stringify(data.groups) %>');
        for (i = 0; i < userHorizonList.length; i++) {
            horizonList.push({
                "groupId": userHorizonList[i].groupId,
                "horizon": userHorizonList[i].horizon
            })
        }
        console.log(horizonList);
        function addHorizonListItem() {
            var horizonID = $('#horizon').val();
            var groupID = $('#group').val();
            var groupName = $("#group option:selected").text();
            var isThere = false
            for (i = 0; i < horizonList.length; i++) {
                if (horizonList[i].groupId == parseInt(groupID) && horizonList[i].horizon == parseInt(horizonID)) {
                    isThere = true
                }
            }
            if(!isThere){

                    $(".horizon-list").append(
                        "<div class='col-sm-12 horizon-list-item-" + groupID + "-" + horizonID +
                        "' style='margin-top:5px;'>" + groupName +
                        "&#8594; Horizon" + horizonID +
                        "<a onclick='deleteHorizonListItem(`" + groupID + "-" + horizonID +
                        "`)'>&nbsp;<i style='color: red;' class='fas fa-minus-circle'></i></a></div>"
                    )
                    horizonList.push({
                        "groupId": parseInt(groupID),
                        "horizon": parseInt(horizonID)
                    })
            }
            console.log(horizonList);
        }

        function deleteHorizonListItem(deletedItemID) {
            $(".horizon-list-item-" + deletedItemID).remove();
            var grouphorizonids = String(deletedItemID).split("-")
            console.log(grouphorizonids)
            for(i=0;i<horizonList.length;i++){
                if(horizonList[i].groupId == grouphorizonids[0] && horizonList[i].horizon == grouphorizonids[1]){
                    console.log("buldum")
                    horizonList = horizonList.slice(0, i).concat(horizonList.slice(i+1, horizonList.length))
                }
            }
            console.log(horizonList);
        }

        $(function () {
            $.get("/controller/getTags", function (res) {
                var whitelist = [];
                var tags = JSON.parse(res);
                console.log(tags);
                for (var i = 0; i < tags.length; i++) {
                    whitelist.push(tags[i].tag.name);
                }
                var input1 = document.querySelector('input[name=tags]'),
                    tagify1 = new Tagify(input1, {
                        whitelist: whitelist,
                    })

                // listen to custom 'remove' tag event
                tagify1.on('remove', onRemoveTag);

                function onRemoveTag(e) {
                    console.log(e, e.detail);
                }

                function onAddTag(e) {
                    console.log(e, e.detail);
                }


            })

        })

        function newAsset(){
            var template = $('#hidden-template').html();
    $('#assets').prepend(template);
    $('.new-asset').hide();
        }

function addAsset(){
    $('.new-asset').show();
    $('#addNewAsset').hide();
}

    </script>

<script id="hidden-template" type="text/x-custom-template">
    <div class="card card-danger color-palette-box">
            <div class="card-header">
                    <h6 style="margin-bottom: 0px;">
                        <i class="fa fa-clock" aria-hidden="true"></i>
                        New Asset
                    </h6>
                </div>
        <div class="card-body table-responsive p-0">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th style="width: 30%">Evaluation Criteria</th>
                        <th style="width: 10%">Perfection</th>
                        <th style="width: 10%">
                            
                            <select class="form-control form-control-sm update-input" style="color: black;font-weight: 600;" id="group">
                                    
                                <% for(var j=0; j<allGroups.length; j++) {%>
                                        <option value="<%= allGroups[j].id %>">
                                            <%= allGroups[j].name %>
                                        </option>
                                        <% } %>
                                </select>
                        </th>
                        <th style="width: 50%">Notes</th>
                    </tr>
                    <tr>
                        <td>Products and services</td>
                        <td>
                           
                                <select id="availabilityForDogus" class="form-control form-control-sm">
                                        
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                            
                        </td>
                        <td>
                            
                                
                                <select id="availabilityForDogus" class="form-control form-control-sm ">
                                        
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                            
                        </td>
                        <td>
                                <textarea id="description" rows="1" class="form-control form-control form-control-sm"" "
                                type="text" placeholder="Enter Note"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Team Members</td>
                        <td>
                            
                                <select id="availabilityForDogus" class="form-control form-control-sm">
                                        
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                           
                        </td>
                        <td>
                            
                                
                                <select id="availabilityForDogus" class="form-control form-control-sm">
                                        
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                            
                        </td>
                        <td>
                                <textarea id="description" rows="1" class="form-control form-control form-control-sm"" "
                                type="text" placeholder="Enter Note"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Data</td>
                        <td>
                            
                                
                                <select id="availabilityForDogus" class="form-control form-control-sm">
                                        
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                            
                        </td>
                        <td>
                           
                                
                                <select id="availabilityForDogus" class="form-control form-control-sm">
                                        
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                            
                        </td>
                        <td>
                                <textarea id="description" rows="1" class="form-control form-control form-control-sm"" "
                                type="text" placeholder="Enter Note"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Channels</td>
                        <td>
                            
                                
                                <select id="availabilityForDogus" class="form-control form-control-sm">
                                        
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                            
                        </td>
                        <td>
                           
                                
                                <select id="availabilityForDogus" class="form-control form-control-sm">
                                        
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                           
                        </td>
                        <td>
                                <textarea id="description" rows="1" class="form-control form-control form-control-sm"" "
                                type="text" placeholder="Enter Note"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Customer Base</td>
                        <td>
                           
                                
                                <select id="availabilityForDogus" class="form-control form-control-sm">
                                        
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                           
                        </td>
                        <td>
                           
                               
                                <select id="availabilityForDogus" class="form-control form-control-sm">
                                        
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                           
                        </td>
                        <td>
                                <textarea id="description" rows="1" class="form-control form-control form-control-sm"" "
                                type="text" placeholder="Enter Note"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Intellectual Property Rights</td>
                        <td>
                                <select id="availabilityForDogus" class="form-control form-control-sm">
                                        
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                        </td>
                        <td>
                                
                                <select id="availabilityForDogus" class="form-control form-control-sm">
                                        
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                        </td>
                        <td>
                                <textarea id="description" rows="1" class="form-control form-control form-control-sm"" "
                                type="text" placeholder="Enter Note"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>General Evaluation</td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                                
                                    <div class="row">
                                        
                                    <div class="col-6" style="border: solid 1px red;">Innovation</div>
                                    <div class="col-6" style="border: solid 1px lightgray;">Process Improvement</div>
                                    </div>
                                    
                            
                        </td>
                    </tr>
                    <tr id="addNewAsset">
                            <td></td>
                            <td>
                            </td>
                            <td>
                            </td>
                        <td><button onclick="addAsset()" style="float:right" class="btn btn-danger">Ekle</button></td></tr>
                </tbody>
                
            </table>
        </div>
    </div>
</script>

</html>